@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

.body {
     display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
    background: url(../../public/build/assets/img/pexels-fauxels-3183186.jpg);
     background-position: center;
  background-size: cover;
}

.wrapper {
    width: 400px;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 8px 32px rgba(0, 0, 0, 0.37);
  transition: all 0.3s ease;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input[type="email"],
input[type="password"],input[type="text"] {
    border: none;
    background: none;
    border-bottom: 1px solid white;
    width: 90%;
    color: aliceblue;
}

.register {
    color: rgb(13, 13, 14);
    background: rgba(142, 11, 20, 0.79);
  border: 1px solid rgba(173, 38, 38, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

}





.forget a {
    color: rgb(35, 36, 37);
    font-size: 0.8rem;
    text-decoration: none;

}

.forget a:hover {
    color:rgba(142, 11, 20, 0.79);
    text-decoration: underline;
}

